html, body {
	margin: 0;
	background-color: #E8E8E8;
	font-family: sans-serif;
}
.checkboxes {
	margin: 50px auto;
	width: 45%;
	background-color: white;
	border-radius: 5px;
	box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.2);
}
.box-wrap {
	display:flex;
    align-items:center;
    border-bottom: 1px solid #F1F1F1; 
    margin: 0 auto;
}
input {
	position: relative;
	float: left;
	font-size: 50px;
}
input:checked + label { /**/
    text-decoration: line-through;
    background-color: #F1F1F1;
    color: red;
}
input[type="checkbox"] {
      margin: 20px;
}
label {
	flex: 1;
	margin: 0;
	padding: 20px;
	border-left: 1px solid #D2D2D2;
	transition:background 0.2s;
}