html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
div {
	width: 100%;
	padding: 100px;
}
.one {
	background-color: red;
}
.two {
	background-color: orange;
}
.three {
	background-color: yellow;
}
button {
	background-color: blue;
}